@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the Budgets On Container Apps</h1>

<p>This .Net Application Runs on Contains</p>

<p>Simply navigate to the budgets sections to create your first budget</p>
